.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  
  background-image: url(https://images.pexels.com/photos/147413/twitter-facebook-together-exchange-of-information-147413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=600&w=100%);
}


.container
{
background-color: white;
width:45%;
margin:auto;
display: flex;
gap:20px;
margin-bottom: 30px;
transition: 1s;
border-radius: 0px 50px;

box-shadow: 0 0 20px #fff, 10px 10px 10px  #F29191;

}
.img
{
  border-radius: 50%;
  padding:0px;
  margin:10px;
  border:3px solid #aa945f;
  object-fit: contain;
  margin-left:5%;
 transition: 1s;
}
.img:hover{
  transform: scale(2);
}
.container:hover{
  transform: scale(1.1);
}
.aaddcandid
{
width:50%;
margin:auto;
display: flex;
flex-direction: column;
margin-bottom: 50px;
gap:5px;

}

.name
{
  text-align: left;
  font-family: 'Italianno', cursive;
  font-size: 250%;
  
}

.btn
{
  align-items: left;
  margin-right:5px;
  border:0;
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  padding: 5px;
  border-radius:5px;
  border:1px solid #aa945f;
  color:#aa945f;
  background-color:black;
}
.btn:hover{
  background-color:white;
}
.editbtn
{
  
  align-items: left;
  font-weight: bolder;
  border:0;
  border-radius:5px;
  padding:5px;
  color:#aa945f;
 font-family: 'Cinzel', serif;
 border:1px solid #aa945f;
 background-color:black;
}
.editbtn:hover{
  background-color:white;
}

.input{
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  text-align: center;

  height:25px;
  border:0;
  font-size: 1rem;
  width:100%;
  margin-top: 50px;
  
}
.input1{
  text-align: center;
  font-family: 'Cinzel', serif;
height:25px;
font-size: 1rem;
font-weight: bolder;
border:0;
width:100%;
}

.button1{
  background-color:black;
  color:#aa945f;
  font-weight: bolder;
  border:1px solid #aa945f;
  height:30px;
  width:30%;
  margin:auto;
  border-radius:5px;
 font-size: 1rem;
  margin-top:30px;
  font-family: 'Cinzel', serif;
 
}
.button1:hover{
  transform: scale(1.1);
  background-color:white;
}
.namediv{
  margin:auto;
}
.editbutton{
  background-color:black;
  color:#aa945f;
  font-weight: bolder;
  border:1px solid #aa945f;
  height:30px;
  width:30%;
  margin:auto;
  border-radius:5px;
 font-size: 1rem;
  margin-top:30px;
  font-family: 'Cinzel', serif;
}
.edituserinput{
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  text-align: center;
  height:25px;
  border:0;
  font-size: 1rem;
  width:90%;
 margin:auto;
}
.title{
 color:white;
  font-size: 500%;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 5px 5px 10px white;
  font-weight: lighter;
  /* border:6px solid #aa945f; */
  width: 80%;
margin: auto;
margin-top:30px;
margin-bottom: 50px;
padding-top: 30px;
padding-bottom: 30px;
border-bottom:9px solid #aa945f;
border-top:9px solid #aa945f;
border-radius: 0px  50px 50px 80px; 
font-weight: bolder;
text-shadow: 0 0 20px #fff, 0 0 30px #F29191, 0 0 40px #F29191, 0 0 50px #F29191, 0 0 60px #F29191, 0 0 70px #F29191, 0 0 80px #F29191;
background-color: black;

}




@media only screen and (max-width:700px)
{
  body{
   
    background-image: url(https://images.pexels.com/photos/147413/twitter-facebook-together-exchange-of-information-147413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=500&w=500);
  }
.container
{
background-color: white;
width:90%;
margin:auto;
gap:20px;
margin-bottom: 30px;
transition: 1s;
border-radius: 0px 50px;
}
.img
{
  border-radius: 50%;
  padding:0px;
  margin:10px;
  border:3px solid #aa945f;
  object-fit: contain;
  margin-left:5%;
 
 
}
.button1{
  background-color:black;
  color:#aa945f;
  font-weight: bolder;
  border:1px solid #aa945f;
  height:30px;
  width:80%;
  margin:auto;
  border-radius:5px;
 font-size: 1rem;
  margin-top:30px;
  font-family: 'Cinzel', serif;
 
}
.editbutton{
  background-color:black;
  color:#aa945f;
  font-weight: bolder;
  border:1px solid #aa945f;
  height:30px;
  width:50%;
  margin:auto;
  border-radius:5px;
 font-size: 1rem;
  margin-top:30px;
  
}
.title{
  color:white;
   font-size: 280%;
   font-family: 'Montserrat', sans-serif;
   text-shadow: 5px 5px 10px white;
   font-weight: lighter;
   /* border:6px solid #aa945f; */
   width: 90%;
 margin: auto;
 margin-top:30px;
 margin-bottom: 50px;
 padding-top: 20px;
 padding-bottom: 20px;
 border-bottom:8px solid #aa945f;

 font-weight: bolder;
 border-top:8px solid #aa945f;
 border-radius: 0px  50px 50px 30px; 
text-shadow: 0 0 20px #fff, 0 0 30px #F29191, 0 0 40px #F29191, 0 0 50px #F29191, 0 0 60px #F29191, 0 0 70px #F29191, 0 0 80px #F29191;
background-color: black;
 
 }
 
}
